#version=CENTOS7
# Install OS instead of upgrade

# Install from an installation tree on a remote server.
# Required when using a minimal ISO image
#url --url=http://centos.mirror.snu.edu.in/centos/7.9.2009/isos/x86_64
cdrom

text
poweroff


# System keyboard
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Setup network interfaces via DHCP
#network --device=eth0 --bootproto=dhcp --onboot=yes --hostname=system01 --activate
network --device=enp0s3 --bootproto=dhcp --onboot=yes --hostname=system01 --activate
# Set root pw here (required by KS)
# python -c 'import crypt,getpass;pw=getpass.getpass();print(crypt.crypt(pw) if (pw==getpass.getpass("Confirm: ")) else exit())'

rootpw --iscrypted saZm/CAW3kRGQ
firewall --enabled --service=ssh
#authconfig --enableshadow --passalgo=sha512
authselect --enableshadow --passalgo=sha512
firstboot --disabled

# SELinux configuration
selinux --enforcing

# System services
services --enabled="chronyd"
services --enabled="sshd"

# Installation logging level
logging --level=debug

# System timezone
timezone America/Los_Angeles

# System bootloader configuration
bootloader --location=mbr --driveorder=sda,hda,vda --append="tsc=reliable divider=10 plymouth.enable=0 console=ttyS0" 

# Clear the Master Boot Record
zerombr

# Automatically create partitions, no LVM
autopart --nolvm

# Partition clearing information
clearpart --all --initlabel

%packages
@core
iputils
man
chrony
%end

%post --log=/var/log/ks.post.log
#!/bin/bash

# Remove root password
#echo "Removing root password"
#passwd -d root

## Build vars used for motd and system-identification file
BUILD_DATE=`date '+%Y-%m-%d, %H:%m:%S'`
OS="CentOS 8.2.2004"
DOCS="https://affolter-egnineering.ch"

#Debug Logs
echo "Kick Start Started"
# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd
                               _                  ___  _ 
                 ___ _   _ ___| |_ ___ _ __ ___  / _ \/ |
                / __| | | / __| __/ _ \ '_ ` _ \| | | | |
                \__ \ |_| \__ \ ||  __/ | | | | | |_| | |
                |___/\__, |___/\__\___|_| |_| |_|\___/|_|
                     |___/                               

                 This system belongs to the lab setup.

                             $OS

Last configuration changes: $BUILD_DATE

For more information please see /etc/system-identification

MOTD

# Create system-identification file
echo "Creating /etc/system-identification"
cat << IDENT > /etc/system-identification
                               _                  ___  _ 
                 ___ _   _ ___| |_ ___ _ __ ___  / _ \/ |
                / __| | | / __| __/ _ \ '_ ` _ \| | | | |
                \__ \ |_| \__ \ ||  __/ | | | | | |_| | |
                |___/\__, |___/\__\___|_| |_| |_|\___/|_|
                     |___/                               

                 This system belongs to the lab setup.

Security Category: Not defined yet   
Purpose: Not defined yet
Relationship: Not defined yet
Operating system: $OS
Current role: none
Primary Contact: Fabian Affolter <fabian@affolter-engineering.ch>

This file is provided as part of the Infrastructure standards.

Created/updated: $BUILD_DATE. Distributed by Kickstart installation.

IDENT

# Update all packages
echo "Updating packages ..."
/usr/bin/yum clean all
/usr/bin/yum update -y

# Clean up all yum caches
echo "Cleaning up yum caches"
/usr/bin/yum clean all

echo "Downloading Yum Utils"
yum install -y yum-utils

echo "Downloading Extra repos"
yum install -y --enablerepo=extras epel-release

echo "Downloading iptables"
yum install -y iptables-services

echo "Adding config manager"
yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

echo "Downloading Docker"
yum install -y  docker-ce docker-ce-cli containerd.io

echo "Setting Docker as startup Item"
systemctl enable docker


# Disable avahi
echo "Disabling avahi"
systemctl disable avahi-daemon.service 

# Disable kdump
echo "Disabling kdump"
systemctl disable kdump.service


echo "End of Kickstart"

%end
